@font-face {
  font-family: Simsun;
  src: local(Noto Sans SC)
}
@font-face {
  font-family: NSimsun;
  src: local(Noto Sans SC)
}
@font-face {
  font-family: 宋体;
  src: local(Noto Sans SC)
}
@font-face {
  font-family: 宋體;
  src: local(Noto Sans SC)
}
@font-face {
  font-family: 新宋体;
  src: local(Noto Sans SC)
}
@font-face {
  font-family: Arial;
  src: local(Noto Sans SC)
}
@font-face {
  font-family: sans-serif;
  src: local(Noto Sans SC)
}
